<div class='nav'>
  <div class="header">
      <div class="side-top">
      <a routerLink='/'><img src="../assets/images/eazylogo.png" alt="logo"></a>
    </div>
       <div>
          <a  class="login" routerLink='/login'>Login</a>
          <a class="register" routerLink='/register'>Register</a>
       </div>
      <ul class='dashboard' ><a routerLink='dashboard' >Dashboard</a></ul>
      <ul class="history"><a routerLink='history' >History</a></ul>
      <ul class="aboutus"><a routerLink='aboutus'>About Us</a></ul>
  </div>
<router-outlet></router-outlet>
